/*stylesheet for hangman game*/

body{
	background-color: lightblue;
	text-align: center;
}

#container{
	background-color: lightblue;
	margin: 15px;
	align-content: center;
}

#bus-image{
	width: 100px;
	height: 100px;
	border: 0px;
	padding: 0px;
	background-color: lightblue;
}

#panel{
	background-color: lightblue;
}